body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Boon-Bold";
  src: local("Boon-Bold"),
    url(./fonts/boon/font/ttf/Boon-Bold.ttf) format("truetype");
  font-family: "Boon-BoldItalic";
  src: local("Boon-BoldItalic"),
    url(./fonts/boon/font/ttf/Boon-BoldItalic.ttf) format("truetype");
  font-family: "Boon-Italic";
  src: local("Boon-Italic"),
    url(./fonts/boon/font/ttf/Boon-Italic.ttf) format("truetype");
  font-family: "Boon-Light";
  src: local("Boon-Light"),
    url(./fonts/boon/font/ttf/Boon-Light.ttf) format("truetype");
  font-family: "Boon-LightItalic";
  src: local("Boon-LightItalic"),
    url(./fonts/boon/font/ttf/Boon-LightItalic.ttf) format("truetype");
  font-family: "Boon-Medium";
  src: local("Boon-Medium"),
    url(./fonts/boon/font/ttf/Boon-Medium.ttf) format("truetype");
  font-family: "Boon-MediumItalic";
  src: local("Boon-MediumItalic"),
    url(./fonts/boon/font/ttf/Boon-MediumItalic.ttf) format("truetype");
  font-family: "Boon-Regular";
  src: local("Boon-Regular"),
    url(./fonts/boon/font/ttf/Boon-Regular.ttf) format("truetype");
  font-family: "Boon-SemiBold";
  src: local("Boon-SemiBold"),
    url(./fonts/boon/font/ttf/Boon-SemiBold.ttf) format("truetype");
  font-family: "Boon-SemiBoldItalic";
  src: local("Boon-SemiBoldItalic"),
    url(./fonts/boon/font/ttf/Boon-SemiBoldItalic.ttf) format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
